<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css">
    <title>REST API - MVC</title>
</head>
<body>
    <div id="app" class="container is-max-desktop mt-5">
        <h1 class="title">Edit Product</h1>
        <div class="field">
            <label for="" class="label">Product Name</label>
            <div class="control">
                <input type="text" name="name" id="name" class="input" placeholder="Product Name" value="<%= products.name %>">
            </div>
        </div>
        <div class="field">
            <label for="" class="label">Product Price</label>
            <div class="control">
                <input type="text" name="price" id="price" class="input" placeholder="Product Price" value="<%= products.price %>">
            </div>
        </div>
        <div class="control">
            <button class="button is-warning" id="save" onclick=<%="edit("+products.id+")"%>>UPDATE</button>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const edit = (id) => {
            axios({
                method: 'put',
                url: '/api/products/'+id,
                data: {
                    name: document.getElementById("name").value,
                    price: document.getElementById("price").value
                }
            }).then((result) => {
                alert("Info Status " + result.status)
                window.location = "/";
            }).catch((err) => {
                alert('error ' + err)
            });
        }
    </script>
</body>
</html>